.board {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 500px;
  align-content: flex-start;
  margin-top: 1px;
  /*margin-top: 1rem;*/
  /*margin-bottom: 1rem;*/
}

.board-info {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.board-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.my-game {
  margin-top: 3rem;
}

.status {
  display: block;
  text-align: left;
}

.game {
  display: flex;
  flex-wrap: wrap;
}

.game-info {
  display: flex;
  width: 20rem;
  flex-direction: column;
  margin-left: 1rem;
}

/*.game-board {*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*  flex-wrap: wrap;*/
/*  width: 1000px;*/
/*  align-content: flex-start;*/
/*  margin-top: 1px;*/
/*  /*margin-top: 1rem;*/
/*  /*margin-bottom: 1rem;*/
/*}*/
