.tic-tac-toe-square {
  /* style for the black outline square */
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 99px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 99px;
  user-select: none;
}
